
/*GAME PAGE*/
/*#page_game #memory_board{*/
/*background: #f7e1b5;*/
/*border:#999 1px solid;*/
/*width:800px;*/
/*height:780px;*/
/*padding:24px;*/
/*margin:0px auto;*/
/*}*/

.redBg{
    background:#d9534f;
}

.greenBg{
    background:#00ECB9;
}

.whiteBg{
    background:#fff8f3;
}


#clockdiv{
    font-family: sans-serif;
    color: #2196F3;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}
#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}
#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

#avatarSelectBar img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#avatarSelectBar img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

#avatarSelectBar img:active {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
/*//----------------------------------------------//*/
