div#memory_board{
    background: #f7e1b5;
    border:#999 1px solid;
    width:800px;
    height:780px;
    padding:24px;
    margin:0px auto;
}
div#memory_board > div{
    background: url("tile_bg.jpg") no-repeat;
    border: #adadad 1px solid;
    width:71px;
    height:71px;
    float:left;
    margin:10px;
    padding:20px;
    font-size:64px;
    cursor:pointer;
    text-align:center;
}

body{
    text-align: center;
    background: #00ECB9;
    font-family: sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
    padding: 0;
}
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}
#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}
#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

/*//----------------------------------------------//*/

/*LOG-IN PAGE*/
