/*LOG-IN PAGE*/
.login_page .html, .login_page .body {
    height: 100%;
}

.login_page .html {
    display: table;
    margin: auto;
}

.login_page .body {
    display: table-cell;
    vertical-align: middle;
    background-color: #FFCA28;
}

/*GAME PAGE*/
.app_page #memory_board{
    background: #f7e1b5;
    border:#999 1px solid;
    width:800px;
    height:780px;
    padding:24px;
    margin:0px auto;
}
.app_page #memory_board > div{
    background: url("tile_bg.jpg") no-repeat;
    border: #adadad 1px solid;
    width:71px;
    height:71px;
    float:left;
    margin:10px;
    padding:20px;
    font-size:64px;
    cursor:pointer;
    text-align:center;
}

.app_page .body{
    text-align: center;
    background: #00ECB9;
    font-family: sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*#clockdiv{*/
    /*font-family: sans-serif;*/
    /*color: #fff;*/
    /*display: inline-block;*/
    /*font-weight: 100;*/
    /*text-align: center;*/
    /*font-size: 20px;*/
/*}*/
/*#clockdiv > div{*/
    /*padding: 10px;*/
    /*border-radius: 3px;*/
    /*background: #00BF96;*/
    /*display: inline-block;*/
/*}*/
/*#clockdiv div > span{*/
    /*padding: 15px;*/
    /*border-radius: 3px;*/
    /*background: #00816A;*/
    /*display: inline-block;*/
/*}*/

/*//----------------------------------------------//*/
#t1,#t2,#t3,#t4,#t5,#t6,#t7,#t8,#t9,#t10,#t11,#t12,#t13,#t14,#t15,#t16,#t17,#t18,#t19,#t20,#t21,#t22,#t23,#t24,#t25,#t26,#t27,#t28,#t29,#t30,#t31,#t32,#t33,#t34,#t35,#t36{
    background: url("bg.jpg") no-repeat;
    border:#000 1px solid;
    width:80px;
    height:80px;
    font-size:24px;
    cursor:pointer;
    text-align:center;
}